# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\demo\polyRoute\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
